In [25]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_format = "retina"
from pathlib import Path
import os
from IPython.display import display, Markdown, Latex

project_dir = Path(globals()['_dh'][0]+"/../python").resolve()
os.chdir(project_dir)
print("Running notebook from: " + os.path.abspath(""))


from IPython.core.interactiveshell import InteractiveShell
# InteractiveShell.ast_node_interactivity = "last_expr" # Default jupyter behavior
InteractiveShell.ast_node_interactivity = "all" # All expressions are shown.

Running notebook from: /Users/aleph/Documents/jota/tesis/ts_mcfrl/python

In [26]:
#movement_detail_report = pd.read_csv("/Users/aleph/Documents/jota/tesis/ts_mcfrl/python/data/results/dqn_few_warehouses_v4__l1loss/movement_detail_report.csv")
#movement_detail_report = pd.read_csv("/Users/aleph/Documents/jota/tesis/ts_mcfrl/python/data/results/dqn_few_warehouses_v4__l2loss/movement_detail_report.csv") # the real one
movement_detail_report = pd.read_csv("/Users/aleph/Documents/jota/tesis/ts_mcfrl/python/data/results/dqn_few_warehouses_v4__l2loss_debug2/movement_detail_report.csv") # the small one

Thiis weird: gonna explore. Later.

In [27]:
movement_detail_report[(movement_detail_report.movement_type=="Delivery") & (movement_detail_report.episode == 0)].groupby("source_name")['customer_units'].sum()

source_name
dcs_0    124689
dcs_1    139127
dcs_2    498110
Name: customer_units, dtype: int64

In [28]:
movement_detail_report[(movement_detail_report.episode == 0)  & (movement_detail_report.movement_type=="Delivery")].is_big_m.sum()
movement_detail_report[(movement_detail_report.episode == 0)  & (movement_detail_report.movement_type!="Delivery")].is_big_m.sum()

8

0

Calculate interplants:

In [29]:
transports = movement_detail_report[(movement_detail_report.episode == 0)  & (movement_detail_report.movement_type=="Transportation")]

# total interplants 
total_interplants = transports.transportation_units.sum()

# interplants per incoming
incoming_interplants = transports.groupby("destination_name")['transportation_units'].sum()
incoming_interplants.to_dict()

transports

{'dcs_0': 119740, 'dcs_1': 17591, 'dcs_2': 386128}

,source_name,destination_name,source_time,destination_time,commodity,source_kind,destination_kind,movement_type,transportation_units,transportation_cost,inventory_units,inventory_cost,customer_units,customer_cost,is_big_m,episode
0,dcs_0,dcs_1,2,2,34,DC,DC,Transportation,1359,13590,0,0,0,0,False,0
1,dcs_2,dcs_1,2,2,34,DC,DC,Transportation,11491,114910,0,0,0,0,False,0
2,dcs_0,dcs_1,3,3,34,DC,DC,Transportation,735,7350,0,0,0,0,False,0
3,dcs_2,dcs_1,3,3,34,DC,DC,Transportation,2722,27220,0,0,0,0,False,0
7,dcs_2,dcs_0,8,8,34,DC,DC,Transportation,1337,13370,0,0,0,0,False,0
9,dcs_1,dcs_0,9,9,34,DC,DC,Transportation,2133,21330,0,0,0,0,False,0
11,dcs_0,dcs_2,10,10,34,DC,DC,Transportation,209,2090,0,0,0,0,False,0
12,dcs_1,dcs_2,10,10,34,DC,DC,Transportation,3125,31250,0,0,0,0,False,0
16,dcs_0,dcs_2,13,13,34,DC,DC,Transportation,553,5530,0,0,0,0,False,0
17,dcs_1,dcs_2,13,13,34,DC,DC,Transportation,5941,59410,0,0,0,0,False,0
20,dcs_0,dcs_2,15,15,34,DC,DC,Transportation,15612,156120,0,0,0,0,False,0
21,dcs_1,dcs_2,15,15,34,DC,DC,Transportation,214204,2142040,0,0,0,0,False,0
23,dcs_1,dcs_2,16,16,34,DC,DC,Transportation,4951,49510,0,0,0,0,False,0
25,dcs_0,dcs_1,17,17,34,DC,DC,Transportation,626,6260,0,0,0,0,False,0
26,dcs_2,dcs_1,17,17,34,DC,DC,Transportation,658,6580,0,0,0,0,False,0
31,dcs_0,dcs_2,21,21,34,DC,DC,Transportation,10370,103700,0,0,0,0,False,0
32,dcs_1,dcs_2,21,21,34,DC,DC,Transportation,124228,1242280,0,0,0,0,False,0
34,dcs_0,dcs_2,22,22,34,DC,DC,Transportation,457,4570,0,0,0,0,False,0
35,dcs_1,dcs_2,22,22,34,DC,DC,Transportation,6410,64100,0,0,0,0,False,0
38,dcs_1,dcs_0,24,24,34,DC,DC,Transportation,75745,757450,0,0,0,0,False,0
39,dcs_2,dcs_0,24,24,34,DC,DC,Transportation,23043,230430,0,0,0,0,False,0
43,dcs_1,dcs_0,27,27,34,DC,DC,Transportation,11665,116650,0,0,0,0,False,0
45,dcs_1,dcs_0,28,28,34,DC,DC,Transportation,5817,58170,0,0,0,0,False,0
47,dcs_0,dcs_2,29,29,34,DC,DC,Transportation,68,680,0,0,0,0,False,0

Assingments per DC

In [30]:
deliveries = movement_detail_report[(movement_detail_report.movement_type=="Delivery")]
deliveries_per_shipping_point = deliveries.groupby(['source_name'])['customer_units'].sum().to_dict()
deliveries_per_shipping_point

{'dcs_0': 124689, 'dcs_1': 139127, 'dcs_2': 498110}

In [31]:
deliveries_per_shipping_point_orders = deliveries.drop_duplicates(["source_name","destination_name","source_time","destination_time"]).groupby("source_name").size().to_dict()
deliveries_per_shipping_point_orders

{'dcs_0': 4, 'dcs_1': 12, 'dcs_2': 10}

In [32]:
deliveries_100 = deliveries.query('episode=="1"')
deliveries.episode.unique()

array([0])

In [33]:
deliveries.query("episode==0").groupby(['source_name','destination_name','source_time']).size().reset_index()

   source_name destination_name  source_time  0
0        dcs_0            c_102            6  1
1        dcs_0             c_43           29  1
2        dcs_0             c_51            9  1
3        dcs_0              c_7           28  1
4        dcs_1             c_15           24  1
5        dcs_1             c_20           27  1
6        dcs_1             c_36           10  1
7        dcs_1             c_41           19  1
8        dcs_1             c_47            7  1
9        dcs_1             c_58           23  1
10       dcs_1             c_62           21  1
11       dcs_1             c_63            8  1
12       dcs_1             c_65           17  1
13       dcs_1             c_83           12  1
14       dcs_1              c_9            5  1
15       dcs_1             c_98           14  1
16       dcs_2             c_12           22  1
17       dcs_2              c_3           18  1
18       dcs_2             c_33           26  1
19       dcs_2             c_39           30  1
20       dcs_2             c_48           15  1
21       dcs_2              c_5           25  1
22       dcs_2             c_56           16  1
23       dcs_2             c_62           13  1
24       dcs_2             c_72           11  1
25       dcs_2             c_97           20  1

In [34]:
deliveries.groupby(['episode','source_name','destination_name','source_time']).size().reset_index()

    episode source_name destination_name  source_time  0
0         0       dcs_0            c_102            6  1
1         0       dcs_0             c_43           29  1
2         0       dcs_0             c_51            9  1
3         0       dcs_0              c_7           28  1
4         0       dcs_1             c_15           24  1
5         0       dcs_1             c_20           27  1
6         0       dcs_1             c_36           10  1
7         0       dcs_1             c_41           19  1
8         0       dcs_1             c_47            7  1
9         0       dcs_1             c_58           23  1
10        0       dcs_1             c_62           21  1
11        0       dcs_1             c_63            8  1
12        0       dcs_1             c_65           17  1
13        0       dcs_1             c_83           12  1
14        0       dcs_1              c_9            5  1
15        0       dcs_1             c_98           14  1
16        0       dcs_2             c_12           22  1
17        0       dcs_2              c_3           18  1
18        0       dcs_2             c_33           26  1
19        0       dcs_2             c_39           30  1
20        0       dcs_2             c_48           15  1
21        0       dcs_2              c_5           25  1
22        0       dcs_2             c_56           16  1
23        0       dcs_2             c_62           13  1
24        0       dcs_2             c_72           11  1
25        0       dcs_2             c_97           20  1

In [40]:
deliveries

,source_name,destination_name,source_time,destination_time,commodity,source_kind,destination_kind,movement_type,transportation_units,transportation_cost,inventory_units,inventory_cost,customer_units,customer_cost,is_big_m,episode
4,dcs_1,c_9,5,5,34,DC,C,Delivery,0,0,0,0,56408,5640800000,True,0
5,dcs_0,c_102,6,6,34,DC,C,Delivery,0,0,0,0,1743,17430,False,0
6,dcs_1,c_47,7,7,34,DC,C,Delivery,0,0,0,0,13776,137760,False,0
8,dcs_1,c_63,8,8,34,DC,C,Delivery,0,0,0,0,5756,575600000,True,0
10,dcs_0,c_51,9,9,34,DC,C,Delivery,0,0,0,0,5332,53320,False,0
13,dcs_1,c_36,10,10,34,DC,C,Delivery,0,0,0,0,9074,90740,False,0
14,dcs_2,c_72,11,11,34,DC,C,Delivery,0,0,0,0,4535,453500000,True,0
15,dcs_1,c_83,12,12,34,DC,C,Delivery,0,0,0,0,5028,50280,False,0
18,dcs_2,c_62,13,13,34,DC,C,Delivery,0,0,0,0,5118,511800000,True,0
19,dcs_1,c_98,14,14,34,DC,C,Delivery,0,0,0,0,3912,39120,False,0
22,dcs_2,c_48,15,15,34,DC,C,Delivery,0,0,0,0,5050,50500,False,0
24,dcs_2,c_56,16,16,34,DC,C,Delivery,0,0,0,0,3480,34800,False,0
27,dcs_1,c_65,17,17,34,DC,C,Delivery,0,0,0,0,1779,17790,False,0
28,dcs_2,c_3,18,18,34,DC,C,Delivery,0,0,0,0,287701,2877010,False,0
29,dcs_1,c_41,19,19,34,DC,C,Delivery,0,0,0,0,5202,52020,False,0
30,dcs_2,c_97,20,20,34,DC,C,Delivery,0,0,0,0,6610,661000000,True,0
33,dcs_1,c_62,21,21,34,DC,C,Delivery,0,0,0,0,5117,51170,False,0
36,dcs_2,c_12,22,22,34,DC,C,Delivery,0,0,0,0,62507,6250700000,True,0
37,dcs_1,c_58,23,23,34,DC,C,Delivery,0,0,0,0,3828,38280,False,0
40,dcs_1,c_15,24,24,34,DC,C,Delivery,0,0,0,0,17646,176460,False,0
41,dcs_2,c_5,25,25,34,DC,C,Delivery,0,0,0,0,110530,1105300,False,0
42,dcs_2,c_33,26,26,34,DC,C,Delivery,0,0,0,0,8558,85580,False,0
44,dcs_1,c_20,27,27,34,DC,C,Delivery,0,0,0,0,11601,116010,False,0
46,dcs_0,c_7,28,28,34,DC,C,Delivery,0,0,0,0,105004,10500400000,True,0
48,dcs_0,c_43,29,29,34,DC,C,Delivery,0,0,0,0,12610,1261000000,True,0
49,dcs_2,c_39,30,30,34,DC,C,Delivery,0,0,0,0,4021,40210,False,0